@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

@layer components {
  .headerNav {
    @apply rounded p-4 py-2 items-center gap-2;
  }
  .headerNav:hover,
  .headerNav.active {
    @apply bg-black/10;
  }
}
