@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

.child-cover > * {
  @apply absolute top-1/2 left-0 w-[100vw] h-[100vw] -translate-y-1/2;
}

@media (min-height: 100vw) {
  .child-cover > * {
    @apply w-[100vh] h-screen;
  }
}

::backdrop {
  @apply bg-black/50 backdrop-blur;
}

@layer components {
  .easy {
    @apply bg-green-400;
  }

  .headerNav {
    @apply rounded p-4 py-2 items-center gap-2;
  }
  .headerNav:hover,
  .headerNav.active {
    @apply bg-black/10;
  }

  .pageNav {
    @apply text-neutral-800 dark:text-neutral-300 px-4 py-2
      flex items-center
      rounded hover:bg-black/5 dark:hover:bg-white/5;
  }

  .pageNav.active {
    @apply bg-black/5 dark:bg-black/20;
  }

  .prose table tbody tr td:first-child {
    @apply pl-2;
  }
  .prose table tbody tr td:last-child {
    @apply pr-2;
  }

  .prose table tbody tr:nth-child(even) {
    @apply bg-black/5 dark:bg-white/5;
  }

  .tooltip {
    writing-mode: horizontal-tb;
    @apply absolute bg-white text-neutral-900 dark:bg-neutral-800 dark:text-neutral-100 px-2 py-1 shadow rounded w-max pointer-events-none opacity-0;
    @apply transform-gpu py-2 px-3 transition-all group-hover:opacity-100 group-hover:translate-x-1 z-[500];
  }
}
